body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("youp2.png");

    /* Full height */
    height: 10%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
}